{% extends 'base.html.twig' %}

{% block title %}Company Order{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Company Order</h1>
    <form method="post">
        <div>
            <label>Symbol</label>
        </div>
        <div>
            <input name="symbol" value="" required>
        </div>
        <div>
            <label>Start date</label>
        </div>
        <div>
            <input name="start_date" id="start_date" value="" required>
        </div>
        <div>
            <label>End date</label>
        </div>
        <div>
            <input name="end_date" id="end_date" value="" required>
        </div>
        <div>
            <label>Email</label>
        </div>
        <div>
            <input name="email" value="" required>
        </div>
        <input type="hidden" name="token" value="{{ csrf_token('company-order') }}"/>
    </form>
</div>
{% endblock %}
